/* Color Theme Swatches in Hex */
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-1-hex: #048A9A;
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-2-hex: #F4E83F;
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-3-hex: #FFFFFF;
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-4-hex: #BCBDC1;
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-5-hex: #646464;

/* Color Theme Swatches in RGBA */
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-1-rgba: rgba(4,138,154, 1);
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-2-rgba: rgba(244,232,63, 1);
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-3-rgba: rgba(255,255,255, 1);
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-4-rgba: rgba(188,189,193, 1);
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-5-rgba: rgba(100,100,100, 1);

/* Color Theme Swatches in HSLA */
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-1-hsla: hsla(186, 94, 30, 1);
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-2-hsla: hsla(56, 89, 60, 1);
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-3-hsla: hsla(0, 0, 100, 1);
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-4-hsla: hsla(228, 3, 74, 1);
$Stämpfliareal-V4-Bleu-canard-jaune-blanc-gris-5-hsla: hsla(0, 0, 39, 1);