html {
    font-size : 10px;
}

html @font-face {
    font-family:"ASAP": src: url(asap_[fr.allfont.net].ttf);
}

html {background: }


/*rem*/


/*.p2 {
    color : hsla(hue, saturation, lightness, alpha)*/