
/* 
=======================================================================================================================
GRID fOR HEADER
=======================================================================================================================
*/

header{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 1rem;
    grid-template-areas:
    "HeaderWithPicture HeaderWithPicture HeaderWithPicture HeaderWithPicture HeaderWithPicture HeaderWithPicture HeaderWithPicture HeaderWithPicture HeaderWithPicture HeaderWithPicture HeaderWithPicture HeaderWithPicture"
    "profil profil profil profil profil profil profil profil profil mediabtn mediabtn mediabtn";
}

.HeaderWithPicture{
    grid-area: HeaderWithPicture;
}

.profil{
    grid-area: profil;
}

.mediabtn{
    grid-area: mediabtn;
}

.HeaderWithPicture{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: minmax(100px,auto);
    grid-gap: 1rem;
    grid-template-areas:
    "photo photo photo myname myname myname myname myname info info info info"
    "photo photo photo myname myname myname myname myname info info info info";
}

div{
    grid-area: myname;
}

figure{
    grid-area: photo;
}

ul{
    grid-area: info;
}

/* 
=======================================================================================================================
LAYOUT fOR HEADER
=======================================================================================================================
*/

header figure{
    text-align: center;
    padding: 4%;
}

header div{
    padding: 4%;
}

header ul{
    padding: 4%;
}

header article{
    padding: 2%;
    text-align: center;
}

header section{
    padding: 2%;
}



.HeaderWithPicture{
    grid-area: HeaderWithPicture;
    background-image: url();
    background-size: cover;
    color: white;
    background: url(https://github.com/melou-dev/cvdev/blob/newcvversion/image/header-bannerbird.jpeg) no-repeat center;
}

.HeaderWithPicture h1{
    font-size: 3rem;
    font-style: inherit;
}

