.HeaderWithPicture{
    grid-area: HeaderWithPicture;
    background-image: url();
    background-size: cover;
    color: white;
    background: url() no-repeat center;
    padding: 2%;
}

.HeaderWithPicture h1{
    font-size: 3rem;
    font-style: inherit;
}

